<footer class="mt-5 pt-5">
  <div class="container w-100 font-weight-bold">
    <div class="row">
      <div class="col-md-6">
        <strong>Credits</strong>
        <table class="table table-sm">
          <tr>
            <td>University:</td>
            <td>SEU</td>
          </tr>
          <tr>
            <td>Assembler Language:</td>
            <td>HTML, CSS, JS, C++</td>
          </tr>
            <tr>
              <td>English:</td>
              <td>CET6</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>834331046@qq.com</td>
            </tr>
          </table>
          <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        </div>

        <div class="col-md-6">
          <strong>Friend Links</strong>
          <table class="table table-sm">
            <tr>
              <td><a href="https://gigi345.github.io/2048">2048小游戏</a></td>
              <td><a href="https://gigi345.github.io/syqComponents">jQuery组件</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>  
  </footer>