<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?882ef92f3f7cbb648a0de58d53ec310f";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	
<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;">
	<p class="text-white text-center" ><img src="{{site.url}}{{site.baseurl}}/img/logo.png" alt="mylogo"></p>
	<p class="text-white text-center" >向前一步,一切都会不同,fighting!</p>
</div>